
:root {
    --background-color:#FDFFFB;
    --title-color: #545EFF;

}
body {
    background: var(--background-color);
}
h1 {
    color: var(--title-color);
}

.dark-mode {
    --background-color:#222222;
    --title-color:#7FBBFC;
    
}


body {
    background-color: #e4e0e0;
    color: #111010;
  
}


body.dark-mode {
    background-color: #121212;
    color: #ede5e5;
   
}
.dark-mode
.dark-mode h1 {
    color: #7FBBFC;
}
.dark-mode .form-control {
    background-color: #181818;
    color: #fafafa;
}
.dark-mode textarea {
    background-color: #0a0a0a;
    color: #faf8f8;
}
.dark-mode input[type="text"], .dark-mode input[type="number"] {
    background-color: #090909;
    color: #101010;
}
.dark-mode button {
    background-color: #78aee7;
    color: rgb(17, 16, 16);
} 

.dark-mode .form-label {
    background-color: #0c0c0c;
    color: #faf7f7;
}
 .dark-mode .form-select{
    background-color: #090909;
     color: #f3f1f1;}

.dark-mode .form-section {
    background-color: #0b0b0b;
    
   
} .dark-mode .navegation-bar ul {
    background-color: #1a1a1a;
    box-shadow: 0 0 5px #333333;}
.dark-mode .navegation-bar li {
    color: #f3f1f1;} 
.dark-mode .form1 {
    background-color: #0b0b0b;
    color: #f3f1f1;
}

.menu a {
  margin-right: 35px;
  letter-spacing: 2px; 
  padding: 20px;
  
}





.navegation-bar {
  margin: 20px auto;
   width: 80%; 
 
}
.navegation-bar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  justify-content: flex-end;
 box-shadow: 0 0 5px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(244, 242, 242)  ;
} 

.navegation-bar li{
  font-weight: bold;
  letter-spacing: 2px;
  text-align: end;
  color: rgb(244, 242, 242);
  margin-left: 20px;
} 
 body { 
     font-family: sans-serif;
     padding-left: 20px;
     margin: 20px; }

.form-group {
   margin-bottom: 15px; }
label {
  display: flex;
  margin-bottom: 5px; 
  font-weight: bold; }
    
input[type=text], input[type=number], select, textarea { 
 
  box-sizing: border-box; 
}
.radio-group label { display: inline; 
  font-weight: normal;
  margin-right: 10px; 
}
button { padding: 10px 15px;
   background-color: #007BFF; color: white; 
   border: none; 
   cursor: pointer;
}
button:hover { 
  background-color: #0056b3; 
}

