.my-class{
    font-family:Arial, Helvetica, sans-serif;
    border: solid, green, 4px;
    color:green;
    background-color: azure;
}


/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px;
  border-radius: 10px;
  margin: 10px;
  padding-right: 20px;
  background-color: rgb(244, 242, 242);
} */