.menu a {
  margin-right: 35px;
  letter-spacing: 2px; 
  padding: 20px;
  
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px;
  border-radius: 10px;
  margin: 10px;
  padding-right: 20px;
  background-color: rgb(244, 242, 242);
}
.navegation-bar {
  margin: 20px auto;
  width: 80%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.navegation-bar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  justify-content: flex-end;

}

.navegation-bar li{
  font-weight: bold;
  letter-spacing: 2px;
  text-align: end;
  color: rgb(244, 242, 242);
  margin-left: 20px;
}

  body { 
     font-family: sans-serif;
     padding-left: 20px;
     margin: 20px; }
.form-group {
   margin-bottom: 15px; }
label {
  display: flex;
  margin-bottom: 5px; 
  font-weight: bold; }
    
input[type=text], input[type=number], select, textarea { 
  width: 100%;
  padding: 8px;
  box-sizing: border-box; 
}
.radio-group label { display: inline; 
  font-weight: normal;
  margin-right: 10px; 
}
button { padding: 10px 15px;
   background-color: #007BFF; color: white; 
   border: none; 
   cursor: pointer;
}
button:hover { 
  background-color: #0056b3; 
}